@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellowgreen;

}
.navbar{
    background-color: black;
    padding: 9px;
    
}
.navbar a {
    text-decoration: none;
    color: rgb(33, 3, 3);
    margin-left: 2px;
    font-family: 'Tapestry', cursive;
}
.gameContainer{
    display: flex;
    justify-content: center;
    /* background-color: yellowgreen; */
    /* height: 75vh; */
    margin-top: 40px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows:repeat(3,10vw); 
    margin: auto;
   
}

.gamebox:hover{
    background-color: rgb(231, 136, 231);
    cursor: pointer;
}
.gamebox{
    
    border: 2px solid black;
}


.imagebox img{
    width: 0;
   transition: width ease-in-out;
   padding-top: 41px;
    
  
}
.boxtext{
    font-size: 8vw;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.gameinfo{
    padding-right: 327px;
   
}
.btn{
    cursor: pointer;
    padding: 7px;
    border: 2px solid black;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 600;
    font-family: emoji;
    background-color: rgb(8, 52, 44);
    color: antiquewhite;
    margin-top: 34px;
    box-shadow: 1px 4px rgb(22, 1, 1);
}

#a{
    border-left:0 ;
    border-top: 0;
}
#b{
    border-left:0 ;
    border-top: 0;
}#c{
    border-right:0;
    border-top: 0;
}#d{
    border-left:0 ;
    border-top: 0;
}#e{
    border-left:0 ;
    border-top: 0;
}#f{
    border-right:0 ;
    border-top: 0;
}#g{
    border-left:0 ;
    border-bottom: 0;
}#h{
    border-left:0 ;
    border-bottom: 0;
}#i{
    border-right:0 ;
    border-bottom: 0;
}
@media screen and (max-width : 800px) {
    .gameContainer{
    flex-wrap:wrap ;
    }
}
@media screen and (max-width : 786px) {
    .gameinfo{
        margin-left:360px;
        margin-top: 50px;
    }
}
#in{
    
  font-family: Georgia, 'Times New Roman', Times, serif;    
  font-size: 20px;
  padding-right: 18px;
  padding-left: 14px;
}
.btn:hover{
   background-color: rgb(156, 91, 12);
}
.btn:active{
  transform: translateY(3px);

}